.menu_item {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.menu_item_body {
  color: var(--color-golden);
  margin-bottom: 5px;
}

.menu_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_sub {
  padding-right: 80px;
}

.menu_sub p {
  color: var(--color-black);
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
}

.menu_item_sub {
  width: 100%;
  margin-top: 0.2rem;
}

.menu_item_name {
  flex: 1;
}

.menu_item_price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
