.headtext_custom {
  font-family: var(--font-header);
  color: var(--color-golden);
  font-size: 50px;
  padding: 0;
}

.section_padding_custom {
  padding: 4rem 10rem 4rem 7rem;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.p_description_custom {
  color: var(--color-golden);
  padding: 0.75rem 0;
  font-size: 20px;
}

.p_description_special {
  font-size: 24px;
  padding: 1.5rem 0;
  font-weight: 400;
}

.map_wrapper {
  margin-top: 6em;
  width: 550px;
  height: 500px;
  background: color(--color-white);
}

.popup_image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.popup_image img {
  width: 15px;
  height: 17px;
}

@media screen and (max-width: 1150px) {
  .section_padding_custom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0 6rem 0 3rem;
  }
}

@media screen and (max-width: 450px) {
  .section_padding_custom {
    padding: 0 2rem;
  }

  .map_wrapper {
    margin-top: 1.5rem;
    width: 300px;
    height: 300px;
  }

  .headtext_custom {
    font-size: 40px;
  }
}
