.arrow {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-golden);
  cursor: pointer;
  opacity: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.arrow_no_visability {
  opacity: 0;
}

.arrow_icon {
  color: var(--color-golden);
  font-size: 22px;
}

.arrow:hover {
  background: var(--color-golden);
}

.arrow:hover .arrow_icon {
  background: var(--color-golden);
  color: var(--color-white);
}

/* .arrow_icon:hover {
  color: var(--color-white);
} */
