.app_video {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.app_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_container {
  height: 100vh;
  position: absolute;
  inset: 0;
}

.app_video_overlay {
  height: 100vh;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.app_video_no_overlay {
  height: 100vh;
  position: absolute;
  inset: 0;
}

.app_video_overlay_circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--color-golden);
}

.icons {
  color: var(--color-golden);
  font-size: 50px;
}

@media screen and (max-width: 650px) {
  .app_video {
    height: 50vh;
    width: 100vw;
  }

  .app_video_overlay {
    height: 50vh;
  }

  .app_video_no_overlay {
    height: 50vh;
  }

  .app_video video {
    height: 100%;
    width: 100%;
  }

  .app_video_overlay_circle {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons {
    font-size: 30px;
  }
}
