.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 0.8em 1.8rem;
}

.navbar {
  -webkit-animation-name: animatenavbar;
  -webkit-animation-duration: 1s;
  animation-name: animatenavbar;
  animation-duration: 1s;
}

@-webkit-keyframes animatenavbar {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatenavbar {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.navbar_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar_logo img {
  width: 150px;
}

.navbar_links {
  color: var(--color-blue);
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  gap: 2.5em;
  padding: 0 2em;
}

.navbar_links li {
  cursor: pointer;
}

.navbar_login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar_links li a {
  position: relative;
  padding: 7px 0;
}

.navbar_login a {
  color: var(--color-blue);
  margin: 0 1em;
  position: relative;
  text-decoration: none;
  padding: 7px 0;
}

.navbar_login a:hover,
.navbar_links li a:hover {
  color: var(--color-golden);
  transition: 0.8s;
}

.navbar_login a::before,
.navbar_links li a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--color-golden);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.navbar_login a:hover::before,
.navbar_links li a:hover::before {
  transform: scaleX(0.9);
  color: var(--color-golden);
}

.hamburger_menu_icon,
.outline_res_menu {
  color: var(--color-blue);
  font-size: 27px;
}

/* for mobile devices */

.navbar_smallscreen {
  display: none;
}

.smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-white);
  transition: 0.5s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* animated hamburger menu */

.smallscreen_overlay {
  -webkit-animation-name: animatemenu;
  -webkit-animation-duration: 1s;
  animation-name: animatemenu;
  animation-duration: 1s;
}

@-webkit-keyframes animatemenu {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatemenu {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.smallscreen_overlay .overlay_close {
  color: var(--color-blue);
  font-size: 27px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  list-style: none;
}

.smallscreen_overlay .overlay_close:hover {
  color: var(--color-golden);
}

.navbar_smallscreen_links {
  list-style: none;
}

.navbar_smallscreen_links li {
  margin: 1.5em;
  cursor: pointer;
  color: var(--color-blue);
  font-size: 1.2em;
  text-align: center;
  font-family: inherit;
}

.navbar_smallscreen_links li:hover {
  color: var(--color-golden);
}

@media screen and (max-width: 2000px) {
  .navbar_logo {
    width: 200px;
  }
}

@media screen and (max-width: 1150px) {
  .navbar_links {
    display: none;
  }
  .navbar_smallscreen {
    display: flex;
  }
  .navbar_logo {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }
  .navbar_login {
    display: none;
  }
  .navbar_logo {
    width: 120px;
    justify-content: center;
  }
}
